/* 前台 */
$front_color_main: #BC955C;
$front_color_hover: #EBDFCE;
$front_color_active: #D7BF9D;
$front_color_disable: #E6E6E6;
/* 後台 */
$back_color_main: #0C3B59;
$back_color_hover: #A3AFBF;
$back_color_active: #4F6573;
$back_color_disable: #E6E6E6;
/* 文字 */
$color_444: #444;
$color_888: #888;
$color_ccc: #ccc;
$color_e6: #e6e6e6;